@page
@model BookStoreRazor.Pages.Products.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Product.Name" class="control-label"></label>
                <input asp-for="Product.Name" class="form-control" />
                <span asp-validation-for="Product.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Detail" class="control-label"></label>
                <input asp-for="Product.Detail" class="form-control" />
                <span asp-validation-for="Product.Detail" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Product.Price" class="control-label"></label>
                <input asp-for="Product.Price" class="form-control" />
                <span asp-validation-for="Product.Price" class="text-danger"></span>
            </div>
			<div class="form-group">
                <label asp-for="Product.Image" class="control-label">Upload Image</label>
                <input asp-for="Product.Image" type="file" id="Image" class="form-control" />
                <span asp-validation-for="Product.Image" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Product.IsTrending" /> @Html.DisplayNameFor(model => model.Product.IsTrending)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Product.IsBestSelling" /> @Html.DisplayNameFor(model => model.Product.IsBestSelling)
                </label>
            </div>
            <div class="form-group">
    <label asp-for="Product.CategoryId" class="control-label"></label>
    <select asp-for="Product.CategoryId" class="form-control">
        <option value="">-- Chọn danh mục --</option>
        @if (Model!.Categories != null && Model.Categories.Any())
        {
            @foreach (var category in Model.Categories)
            {
                <option value="@category.Id">@category.Name</option>
            }
        }
        else
        {
            <option value="">No categories available</option>
        }
    </select>
</div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
